<ng-container *ngIf="chair as desk;else noDeskSelected">
  <table>
    <thead>
      <tr>
        <th colspan="2">
          Detailed View::
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Postion</td>
        <td>{{ '[' + desk.posX + ',' + desk.posY + ']' }}</td>
      </tr>
      <tr>
        <td>Department</td>
        <td *ngIf="!isEditable">{{desk.department}}</td>
        <td *ngIf="isEditable">
          <select (change)="updateDepartment($event.target.value)">
            <option value="">Select Department</option>
            <option value="Finance">Finance</option>
            <option value="Marketing">Marketing</option>
            <option value="R&D">R&D</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Type</td>
        <td *ngIf="!isEditable">{{desk.type}}</td>
        <td *ngIf="isEditable">
          <select (change)="updateType($event.target.value)">
            <option value="">Select Type</option>
            <option value="Sofa">Sofa</option>
            <option value="Beanbag">Beanbag</option>
            <option value="Stool">Stool</option>
            <option value="Highback Chair">Highback Chair</option>
            <option value="Midback Chair">Midback Chair</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Occupancy</td>
        <td *ngIf="!isEditable">{{desk.isOccupied?'Yes':'No'}}</td>
        <td *ngIf="isEditable">
          <div class="occupancyOption" [ngClass]="{'selectedOccOpt':desk.isOccupied}" (click)="updateOccupancy(true)">Yes</div>
          <div class="occupancyOption" [ngClass]="{'selectedOccOpt':!desk.isOccupied}" (click)="updateOccupancy(false)">No</div>
        </td>
      </tr>
    </tbody>
  </table>


  <ng-container *ngIf="!isEditable;else SaveButton">
    <button class="action-btn" (click)=toggleEditMode(true)>
      Edit
    </button>
  </ng-container>
  <ng-template #SaveButton>
    <button class="action-btn" (click)=toggleEditMode(false)>
      Save
    </button>
  </ng-template>

</ng-container>

<ng-template #noDeskSelected>
  Select any desk to view its details.
</ng-template>