table{
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    thead{
        tr{
            height: 60px;
            background: #36304a;
            th{
                font-family: OpenSans-Regular;
                font-size: 18px;
                color: #fff;
                line-height: 1.2;
                font-weight: unset;
            }
        }
    }
    tbody{
        text-align: center;
        tr:nth-child(even) {
            background-color: #f5f5f5;
        }
        tr{
            height: 50px;
        }
        td{
            width: 260px;
            .occupancyOption{
                cursor: pointer;
            }
            .selectedOccOpt{
                background: green;       
            }
            select,input{
                width: 100px;
            }
        }
    }    
}

.action-btn{
    background: #52b52c;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    box-shadow: -1px 2px 6px 1px #dbff6c;
}